<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Números!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="num1"><img src="/assets/img/numeros/1.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num2"><img src="/assets/img/numeros/2.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num3"><img src="/assets/img/numeros/3.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num4"><img src="/assets/img/numeros/4.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num5"><img src="/assets/img/numeros/5.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num6"><img src="/assets/img/numeros/6.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num7"><img src="/assets/img/numeros/7.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num8"><img src="/assets/img/numeros/8.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num9"><img src="/assets/img/numeros/9.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num10"><img src="/assets/img/numeros/10.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num11"><img src="/assets/img/numeros/11.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num12"><img src="/assets/img/numeros/12.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num13"><img src="/assets/img/numeros/13.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num14"><img src="/assets/img/numeros/14.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num15"><img src="/assets/img/numeros/15.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num16"><img src="/assets/img/numeros/16.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num17"><img src="/assets/img/numeros/17.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num18"><img src="/assets/img/numeros/18.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num19"><img src="/assets/img/numeros/19.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="num20"><img src="/assets/img/numeros/20.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
  </div>

</ion-content>