<ion-content padding class="background">
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <img src="/assets/img/bebidas/jengibre.png">
  </div>

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <img src="/assets/img/gif_bebidas/Jengibre.gif" alt="Enviar" style= "width: 160px; height: 260px;">
  </div>

  <button ion-button block (click)="accion()">Ver Instrucciones...</button>
  <ion-card *ngIf="ocultar" color="interfaz">
    <h6>“la palabra Jengibre no tiene seña por lo tanto se usa el dactilado”
      Con el dedo meñique y los demás dedos juntos, girar la mano (si es diestro a la derecha, si es zurdo a la izquierda) formando la letra "J", luego encoja sus dedos después los dedos índice y medio hacia abajo rectos, el meñique, pulgar y angular colocarlos debajo de los 2 dedos, coloque la mano horizontal, el dedo pulgar mantenerlo recto vertical y el índice recto horizontal, los restos juntarlos en horizontal, seguido de colocar el dedo meñique en horizontal y los demás dedos juntos, mantener la mano firme y tener los 4 dedos a la misma altura y el dedo pulgar debajo de ellos, cruce los dedos índice y medio y por ultimo encoja sus dedos.
      (Todos estos pasos hacerlos seguidos)</h6>
  </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start" style="margin-left: 10px;">
        <ion-button (click)='anterior()'><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="start" style="margin-left: 35px;">
        <ion-button (click)='siguiente()'><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end" style="margin-right: 35px;">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end" style="margin-right: 10px;">
        <ion-button (click)='regresar_categoria()'><ion-icon name="exit"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
