<ion-header>
  <ion-toolbar class="bg-gradient">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center color="light">Abecedario!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a (click)="goA()"><img src="/assets/img/abecedario/a.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goB()"><img src="/assets/img/abecedario/b.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goC()"><img src="/assets/img/abecedario/c.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goCH()"><img src="/assets/img/abecedario/ch.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goD()"><img src="/assets/img/abecedario/d.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goE()"><img src="/assets/img/abecedario/e.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goF()"><img src="/assets/img/abecedario/f.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goG()"><img src="/assets/img/abecedario/g.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goH()"><img src="/assets/img/abecedario/h.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goI()"><img src="/assets/img/abecedario/i.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goJ()"><img src="/assets/img/abecedario/j.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goK()"><img src="/assets/img/abecedario/k.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goL()"><img src="/assets/img/abecedario/l.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goLL()"><img src="/assets/img/abecedario/ll.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goM()"><img src="/assets/img/abecedario/m.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goN()"><img src="/assets/img/abecedario/n.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goN1()"><img src="/assets/img/abecedario/ñ.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goO()"><img src="/assets/img/abecedario/o.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goP()"><img src="/assets/img/abecedario/p.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goQ()"><img src="/assets/img/abecedario/q.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goR()"><img src="/assets/img/abecedario/r.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goRR()"><img src="/assets/img/abecedario/rr.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goS()"><img src="/assets/img/abecedario/s.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goT()"><img src="/assets/img/abecedario/t.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goU()"><img src="/assets/img/abecedario/u.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goV()"><img src="/assets/img/abecedario/v.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goW()"><img src="/assets/img/abecedario/w.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goX()"><img src="/assets/img/abecedario/x.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goY()"><img src="/assets/img/abecedario/y.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a (click)="goZ()"><img src="/assets/img/abecedario/z.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
  </div>

</ion-content>