<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Abecedario!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="letra-a"><img src="/assets/img/abecedario/a.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-b"><img src="/assets/img/abecedario/b.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-c"><img src="/assets/img/abecedario/c.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-ch"><img src="/assets/img/abecedario/ch.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-d"><img src="/assets/img/abecedario/d.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-e"><img src="/assets/img/abecedario/e.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-f"><img src="/assets/img/abecedario/f.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-g"><img src="/assets/img/abecedario/g.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-h"><img src="/assets/img/abecedario/h.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-i"><img src="/assets/img/abecedario/i.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-j"><img src="/assets/img/abecedario/j.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-k"><img src="/assets/img/abecedario/k.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-l"><img src="/assets/img/abecedario/l.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-ll"><img src="/assets/img/abecedario/ll.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-m"><img src="/assets/img/abecedario/m.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-n"><img src="/assets/img/abecedario/n.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-n1"><img src="/assets/img/abecedario/ñ.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-o"><img src="/assets/img/abecedario/o.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-p"><img src="/assets/img/abecedario/p.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-q"><img src="/assets/img/abecedario/q.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-r"><img src="/assets/img/abecedario/r.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-rr"><img src="/assets/img/abecedario/rr.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-s"><img src="/assets/img/abecedario/s.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-t"><img src="/assets/img/abecedario/t.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-u"><img src="/assets/img/abecedario/u.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-v"><img src="/assets/img/abecedario/v.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-w"><img src="/assets/img/abecedario/w.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-x"><img src="/assets/img/abecedario/x.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-y"><img src="/assets/img/abecedario/y.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="letra-z"><img src="/assets/img/abecedario/z.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
  </div>

</ion-content>