<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Emociones!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaEmociones.png" >
    </div>
  </div>

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="emo-amistoso"><img src="/assets/img/emociones/amistoso.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-cansado"><img src="/assets/img/emociones/cansado.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-confundido"><img src="/assets/img/emociones/confundido.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-conmocionado"><img src="/assets/img/emociones/conmocionado.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-enamorado"><img src="/assets/img/emociones/enamorado.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-enojado"><img src="/assets/img/emociones/enojado.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-feliz"><img src="/assets/img/emociones/feliz.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-llorando"><img src="/assets/img/emociones/llorando.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a href="emo-triste"><img src="/assets/img/emociones/triste.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    
  </div>

</ion-content>