<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Departamentos!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaDepartamentos.png" >
    </div>
  </div>

  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" href="/dep-boaco">Boaco!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-carazo">Carazo!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-chinandega">Chinandega!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-chontales">Chontales!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-esteli">Estelí!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-granada">Granada!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-jinotega">Jinotega!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-leon">León!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-madriz">Madriz!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-managua">Managua!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-masaya">Masaya!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-matagalpa">Matagalpa!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-nuevaseg">Nueva Segovia!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-raccn">RACCN!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-raccs">RACCS!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-riojuan">Río San Juan!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/dep-rivas">Rivas!</ion-button>


</ion-content>