<ion-header>
  <ion-toolbar class="bg-gradient">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center color="light">Departamentos!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaDepartamentos.png" >
    </div>
  </div>

  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="goBoaco()">Boaco!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goCarazo()">Carazo!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goChinandega()">Chinandega!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goChontales()">Chontales!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goEsteli()">Estelí!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goGranada()">Granada!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goJinotega()">Jinotega!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goLeon()">León!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goMadriz()">Madriz!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goManagua()">Managua!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goMasaya()">Masaya!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goMatagalpa()">Matagalpa!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goNuevaS()">Nueva Segovia!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goRACCN()">RACCN!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goRACCS()">RACCS!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goRioJ()">Río San Juan!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goRivas()">Rivas!</ion-button>


</ion-content>