ion-content.background{
    --background:url('/assets/img/interfazP.png') 0 0/100% 100% no-repeat;
}

.scroll-horizontal {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 112px;

    .scroll-item {
        display: inline-block;
        &:first-child {
            margin-left: 6px;
        }

        img {
            border-radius: 6px;
            margin-right: 6px;
            height: 100px;
            margin-top: 5px;
        }
    }
}

:host {
    ion-toolbar {
        --border-color: transparent
    }

    ion-textarea {
        border-radius: 17px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        --background: #f8f8f8;
        --padding-start: 12px;
        --padding-end: 64px;
        --padding-top: 6px;
        --padding-bottom: 8px;
    }

    .has-elastic-input {
        padding: 4px 8px;
    }

    .input-block {
        margin-left: 8px;
    }

    .stick-bottom {
        align-self: flex-end;
        margin-bottom: 4px;
    }

    .button-photo {
        background-color: #2fb1ff;
        color: white!important;
        font-weight: 700;
        font-size: 12px;
        border-radius: 999em;
        width: 28px;
        height: 28px;
    }

    .button-submit {
        position: absolute;
        right: 12px;
        bottom: 2px;
        ion-button {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

:host-context(.md) {
    .has-elastic-input {
        .stick-bottom {
            margin-bottom: 10px;
        }
    }
}