<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon  color="light" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center color="light">ÜLengChat!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div scrollX="true">
  <ion-input placeholder="Ingresa tu nombre!" [(ngModel)]="userName"></ion-input>
  <ion-card color="light" *ngFor="let message of messages">
    <ion-card-header>
      {{message.usuario}}:
    </ion-card-header>
    <ion-card-content>
      {{message.mensaje}} 
      <img src="{{message.imagen}}" alt="">
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="scroll-horizontal">
      <div class="scroll-item">
        <img (click)="sendMessage()" *ngIf="gif?.image" src="{{gif.image}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage1()" *ngIf="gif?.images" src="{{gif.images}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage2()" *ngIf="gif?.images2" src="{{gif.images2}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage3()" *ngIf="gif?.images3" src="{{gif.images3}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage4()" *ngIf="gif?.images4" src="{{gif.images4}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage5()" *ngIf="gif?.images5" src="{{gif.images5}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage6()" *ngIf="gif?.images6" src="{{gif.images6}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage7()" *ngIf="gif?.images7" src="{{gif.images7}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage8()" *ngIf="gif?.images8" src="{{gif.images8}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage9()" *ngIf="gif?.images9" src="{{gif.images9}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage10()" *ngIf="gif?.images10" src="{{gif.images10}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage11()" *ngIf="gif?.images11" src="{{gif.images11}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage12()" *ngIf="gif?.images12" src="{{gif.images12}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage13()" *ngIf="gif?.images13" src="{{gif.images13}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage14()" *ngIf="gif?.images14" src="{{gif.images14}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage15()" *ngIf="gif?.images15" src="{{gif.images15}}">
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar no-border class="has-elastic-input">
    <ion-buttons slot="start" align-self-bottom class="stick bottom">
      <ion-button small class="button-photo" (click)='takePhoto()'><ion-icon name="camera"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="start" align-self-bottom class="stick bottom">
      <ion-button small class="button-photo" (click)='getPhoto()'><ion-icon name="image"></ion-icon></ion-button>
    </ion-buttons>
    <div class="input-block">
      <ion-textarea #messageInput auto-resize [(ngModel)]="message" rows="1" placeholder="Escribe un mensaje..."></ion-textarea>
      <ion-buttons right class="stick-bottom button-submit" slot="end">
        <ion-button type="submit" [disabled]="message.length == 0" fill="clear" color="morado" (click)='sendMessageText()'><ion-icon name="send"></ion-icon></ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>