<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='home()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>ÜLengChat!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div scrollX="true">
  <ion-input placeholder="Ingresa tu nombre!" [(ngModel)]="userName"></ion-input>
  <ion-card color="rosado" *ngFor="let message of messages">
    <ion-card-header>
      {{message.usuario}}:
    </ion-card-header>
    <ion-card-content>
      {{message.mensaje}} 
      <img src="{{message.imagen}}" alt="">
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="scroll-horizontal">
      <div class="scroll-item">
        <img (click)="sendMessage()" *ngIf="gif?.image" src="{{gif.image}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage1()" *ngIf="gif?.images" src="{{gif.images}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage2()" *ngIf="gif?.images2" src="{{gif.images2}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage3()" *ngIf="gif?.images3" src="{{gif.images3}}">
      </div>
      <div class="scroll-item">
        <img (click)="sendMessage4()" *ngIf="gif?.images4" src="{{gif.images4}}">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
