<ion-content padding class="background">
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 25px;">
    <img src="/assets/img/LogoU.png" alt="Enviar" style= "width: 120px; height: 120px; margin-left: 5px;">
  </div>
  <ion-title color="rosa" text-center style="margin-top: 20px;">Iniciar Sesión!</ion-title>
  <ion-item style="margin-top: 20px;">
    <ion-label position="floating">Correo electrónico!</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item style="margin-top: 20px;">
    <ion-label position="floating">Contraseña!</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="onLogin()">Iniciar Sesión!</ion-button>
  <div text-center>
    No tienes una cuenta? <a routerLink='/registro'>Regístrate!</a>
  </div>
</ion-content>