<ion-header>
    <ion-toolbar class="bg-gradient">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center color="light">Comidas Típicas!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="background">
  
    <div class="card">
      <div class="item item-body">
        <img class="full-image"src="/assets/img/portadaComidas.png" >
      </div>
    </div>

    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="goAsado()">Baho!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goBaho()">Carne Asada!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goChancho()">Chancho con Yuca!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goGallo()">Gallo Pinto!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goIndio()">Indio Viejo!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goNacatamal()">Nacatamal!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goQuesillo()">Quesillo!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goRondon()">Rondón!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goGuirila()">Güirila!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goVigoron()">Vigorón!</ion-button>
  
  </ion-content>