<ion-header>
    <ion-toolbar class="bg-gradient">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center color="light">Bebidas Típicas!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="background">
  
    <div class="card">
      <div class="item item-body">
        <img class="full-image"src="/assets/img/portadaBebidas.png" >
      </div>
    </div>

    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="goCacao()">Cacao con Leche!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goChia()">Chía</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goChicha()">Chicha!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goJengibre()">Jengibre!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goLinaza()">Linaza!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goPinol()">Pinol!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goPinolillo()">Pinolillo!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goPozol()">Pozol!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goJicaro()">Semilla de Jícaro!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goTibio()">Tibio!</ion-button>
    <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goTiste()">Tiste!</ion-button>
  
  </ion-content>