<ion-header>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center>Familia!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaFamilia.png" >
    </div>
  </div>
  
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" href="/fam-abuela">Abuela!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-abuelo">Abuelo!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-hermana">Hermana!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-hermano">Hermano!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-hija">Hija!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-hijo">Hijo!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-mama">Mamá!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-papa">Papá!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-primos">Primos!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-tia">Tía!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/fam-tio">Tío!</ion-button>
      
</ion-content>