<ion-header>
    <ion-toolbar class="bg-gradient">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center color="light">Familia!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaFamilia.png" >
    </div>
  </div>
  
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="goAbuela()">Abuela!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goAbuelo()">Abuelo!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goHermana()">Hermana!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goHermano()">Hermano!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goHija()">Hija!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goHijo()">Hijo!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goMama()">Mamá!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goPapa()">Papá!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goPrimos()">Primos!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goTia()">Tía!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goTio()">Tío!</ion-button>
      
</ion-content>