<ion-header>
  <ion-toolbar class="bg-gradient">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="light" text-center>Animales!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/animales/portadaAnimal.png" >
    </div>
  </div>

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a (click)="goArdilla()"><img src="/assets/img/animales/ardilla.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goCaballo()"><img src="/assets/img/animales/caballo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goCerdo()"><img src="/assets/img/animales/cerdo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goConejo()"><img src="/assets/img/animales/conejo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goGallina()"><img src="/assets/img/animales/gallina.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goGallo()"><img src="/assets/img/animales/gallo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goGato()"><img src="/assets/img/animales/gato.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goMono()"><img src="/assets/img/animales/mono.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goPerro()"><img src="/assets/img/animales/perro.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a (click)="goVaca()"><img src="/assets/img/animales/vaca.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
  </div>

</ion-content>