<ion-header>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center>Colores!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  
      <div class="card">
        <div class="item item-body">
          <img class="full-image"src="/assets/img/portadaColores.png" >
        </div>
      </div>
  
      <ion-button expand="block" color="amarillo" style="color: #000; text-transform: none; margin-top: 20px;" href="/col-amarillo">Amarillo!</ion-button>
      <ion-button expand="block" color="azul" style="text-transform: none; margin-top: 5px;" href="/col-azul">Azul!</ion-button>
      <ion-button expand="block" color="blanco" style="color: #000; text-transform: none; margin-top: 5px;" href="/col-blanco">Blanco!</ion-button>
      <ion-button expand="block" color="celeste" style="text-transform: none; margin-top: 5px;" href="/col-celeste">Celeste!</ion-button>
      <ion-button expand="block" color="morado" style="text-transform: none; margin-top: 5px;" href="/col-morado">Morado!</ion-button>
      <ion-button expand="block" color="naranja" style="text-transform: none; margin-top: 5px;" href="/col-naranja">Naranja!</ion-button>
      <ion-button expand="block" color="negro" style="text-transform: none; margin-top: 5px;" href="/col-negro">Negro!</ion-button>
      <ion-button expand="block" color="rojo" style="text-transform: none; margin-top: 5px;" href="/col-rojo">Rojo!</ion-button>
      <ion-button expand="block" color="rosado" style="text-transform: none; margin-top: 5px;" href="/col-rosado">Rosado!</ion-button>
      <ion-button expand="block" color="verde" style="text-transform: none; margin-top: 5px;" href="/col-verde">Verde!</ion-button>

</ion-content>