<ion-content padding class="background">
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <img src="/assets/img/bebidas/tiste.png">
  </div>

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <img src="/assets/img/gif_bebidas/Tiste.gif" alt="Enviar" style= "width: 200px; height: 300px;">
  </div>

  <button ion-button block (click)="accion()">Ver Instrucciones...</button>
  <ion-card *ngIf="ocultar" color="interfaz">
    <h6>“la palabra tiste no tiene seña por lo tanto se usa el dactilado”
      Colocar la mano horizontal, Con el dedo índice extendido hacia arriba juntarlo con el dedo pulgar también hacia arriba, los demás dedos encogerlos, seguido de colocar el dedo meñique en horizontal y los demás dedos juntos, luego Con todos los dedos encogidos mover la mano hacia los lados, extender el dedo índice hacia arriba juntarlo con el dedo pulgar también hacia arriba y por ultimo encoja sus dedos (todos estos procedimientos hacerlos seguidos).</h6>
  </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start" style="margin-left: 10px;">
        <ion-button (click)='anterior()'><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end" style="margin-right: 35px;">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end" style="margin-right: 10px;">
        <ion-button (click)='regresar_categoria()'><ion-icon name="exit"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
