<ion-header>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center>Saludos!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaSaludos.png" >
    </div>
  </div>
  
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" href="/sal-adios">Adiós!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-buenasnoches">Buenas Noches!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-buenastardes">Buenas Tardes!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-buenosdias">Buenos Días!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-comoestas">¿Cómo Estás?</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-compermiso">Compermiso!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-disculpa">Disculpa!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-hastapronto">Hasta Pronto!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-hola">Hola!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/sal-porfavor">Por Favor!</ion-button>
      
</ion-content>