<ion-header>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center>Saludos!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaSaludos.png" >
    </div>
  </div>
  
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="goAdios()">Adiós!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goBuenasN()">Buenas Noches!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goBuenasT()">Buenas Tardes!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goBuenosD()">Buenos Días!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goComoE()">¿Cómo Estás?</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goCompermiso()">Compermiso!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goDisculpa()">Disculpa!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goHastaP()">Hasta Pronto!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goHola()">Hola!</ion-button>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" (click)="goPorFavor()">Por Favor!</ion-button>
      
</ion-content>