<ion-header>
    <ion-toolbar color="rosa">
      <ion-buttons slot="start">
        <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title text-center>Saludos!</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  
      <!-- <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" href="/beb-cacao">Cacao con Leche!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-chia">Chía</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-chicha">Chicha!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-jengibre">Jengibre!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-linaza">Linaza!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-pinol">Pinol!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-pinolillo">Pinolillo!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-pozol">Pozol!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-semjicaro">Semilla de Jícaro!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-tibio">Tibio!</ion-button>
      <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 5px;" href="/beb-tiste">Tiste!</ion-button> -->
      
</ion-content>