<ion-toolbar color="rosa">
  <ion-title text-center>Menú!</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)='goBuscador()'><ion-icon name="search"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding class="background">
  <ion-card (click)='goCategorias()' style="margin-top: 20px;">
    <img src="/assets/img/imagencategorias.png">
  </ion-card>
  <ion-card (click)='goTeclado()' style="margin-top: 10px;">
      <img src="/assets/img/imagenteclado.png">
    </ion-card>
  <ion-button expand="block" color="rosa" style="text-transform: none; margin-top: 20px;" (click)="onLogout()">Cerrar Sesión</ion-button>
</ion-content>