<ion-content padding class="background">
    <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
      <img src="/assets/img/bebidas/pinol.png">
    </div>
  
    <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
      <img src="/assets/img/gif_bebidas/Pinol.gif" alt="Enviar" style= "width: 160px; height: 260px;">
    </div>
  
    <button ion-button block (click)="accion()">Ver Instrucciones...</button>
    <ion-card *ngIf="ocultar" color="interfaz">
      <h6>“la palabra pinol no tiene seña por lo tanto se usa el dactilado”
          Con la mano horizontal, mantener el dedo índice y medio extendido, el centro de ambos colocar el pulgar, los demás encogerlos, luego coloque el dedo meñique en horizontal y los demás dedos juntos, despues los dedos índice y medio hacia abajo rectos, el meñique, pulgar y angular colocarlos debajo de los 2 dedos,junte todos los dedos formando un círculo y por ultimo con la palma extendida mantener el dedo índice vertical y el pulgar horizontal formando una "L" 
          (todos estos pasos hacerlos seguidos).</h6>
    </ion-card>
  
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="rosa">
        <ion-buttons slot="start" style="margin-left: 10px;">
          <ion-button (click)='anterior()'><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button>
        </ion-buttons>
        <ion-buttons slot="start" style="margin-left: 35px;">
          <ion-button (click)='siguiente()'><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
        </ion-buttons>
        <ion-buttons slot="end" style="margin-right: 35px;">
          <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
        </ion-buttons>
        <ion-buttons slot="end" style="margin-right: 10px;">
          <ion-button (click)='regresar_categoria()'><ion-icon name="exit"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
