<ion-header>
  <ion-toolbar class="bg-gradient">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center color="light">Deportes!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon color="light" name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" >

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/portadaDeportes.png" >
    </div>
  </div>
  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a (click)="goBaloncesto()"><img src="/assets/img/deportes/baloncesto.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a (click)="goBeisbol()"><img src="/assets/img/deportes/beisbol.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a (click)="goFutbol()"><img src="/assets/img/deportes/futbol.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a (click)="goNatacion()"><img src="/assets/img/deportes/natacion.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
    <a (click)="goTenis()"><img src="/assets/img/deportes/tenis.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 5px;"></a>
  </div>  
   
</ion-content>